.homepage-container{
    margin: 1em;
}
.homepage__input{
    margin-bottom: 1em;
    max-width: 20em;
    border: none;
    background-color: #888a;
    border-radius: 0.8em;
    padding: 0.4em 0.8em;
    font-size: 1.1rem;
    color: white;
}
.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
.filter__title{
    font-size: 1.8rem;
    font-weight: 600;
    color: #666a;
    margin-bottom: 0.5em;
}
.product-container{
    display: flex;
    justify-content: center;
    gap: 1.5em 2em;
    flex-wrap: wrap;
}
@media (max-width: 500px) {
    .filter-container{
        flex-direction: column;
        align-items: center;
    }
}